{# fragment: roles/meta_playbook/templates/fragments/10_template_vars.j2 #}
{% set collection_metadata = collection_metadata %}
{% set playbook_spec = specification %}
{% set playbook_name = playbook_name %}
{% set playbook_path = playbook_path %}
{% set playbook_description = specification.description %}
{% set metadata = metadata %}
{% set playbook_metadata = specification.metadata %}
{% if specification.playbook_tasks is not defined %}
  {%- set playbook_tasks = [{ 'name': "Placeholder Task Name"}] %}
{% else %}
  {%- set playbook_tasks = specification.playbook_tasks %}
{% endif %}
{% if specification.metadata is not defined %}
  {%- set playbook_metadata = {} %}
{% else %}
  {%- set playbook_metadata = specification.metadata %}
{% endif %}
{% set pre_run_playbooks = playbook_metadata.get('pre_run_playbooks', []) %}
{% set post_run_playbooks = playbook_metadata.get('post_run_playbooks', []) %}
