#!/bin/bash
DEVICE_PATH={{ template_variables.device_path }}
MEMORY={{ template_variables.memory }}
CPU_CORES={{ template_variables.cpu_cores }}
SOCKETS={{ template_variables.sockets }}
SMP={{ template_variables.smp }}
VGA={{ template_variables.vga }}
SPICE_SOCKET={{ template_variables.spice_socket }}
PORT_FORWARDING={{ template_variables.port_forwarding }}
EXTRAS={{ template_variables.extras }}

qemu-system-x86_64 \
  -drive file="${DEVICE_PATH}",format=raw,cache=none \
  -m "${MEMORY}" \
  -enable-kvm \
  -smp "${SMP}" \
  -cpu host \
  -boot menu=on \
  -vga "${VGA}" \
  -display spice-app \
  -device virtio-serial-pci \
  -spice unix=on,addr="${SPICE_SOCKET}",disable-ticketing=on,gl=on \
  -device virtserialport,chardev=spicechannel0,name=com.redhat.spice.0 \
  -chardev spicevmc,id=spicechannel0,name=vdagent \
  -drive if=pflash,format=raw,readonly=on,file=/usr/share/edk2-ovmf/x64/OVMF_CODE.fd \
  -drive if=pflash,format=raw,file=/var/lib/libvirt/qemu/nvram/VM_VARS.fd \
  {{ PORT_FORWARDING }} \
  {{ EXTRAS }} & echo $! > /run/qemu_{{ template_variables.machine_name }}.pid

