{# file: roles/nspawn/templates/command/ephemeral.j2 #}
{% set tmux_cmd = [
    'tmux',
    'new-session',
    '-d',
    '-s nspawn_' + template_variables.machine_name
  ]
%}
{% set nspawn_cmd = [
    'systemd-nspawn',
    '--ephemeral',
    '--directory=' + template_variables.target,
    '--machine=' + template_variables.machine_name,
    '--keep-unit',
    '--register=no',
    '--volatile'
  ]
%}

{% set overlay_cmd = [] %}
{% set overlays = template_variables.overlays if 'overlays' in template_variables else [] %}
{% for overlay in overlays %}
  {% set overlay_cmd = overlay_cmd.append("--overlay="+overlay) %}
{% endfor %}
{% set extras_cmd = [] %}
{% if 'extras' in template_variables %}
  {% set extras_cmd = template_variables.extras %}
{% endif %}

{{ tmux_cmd | join(' ') }} "{{ nspawn_cmd | join(' ') }} {{ overlay_cmd | join(' ') }} {{ extras_cmd | join(' ') }}"
