
# BEGIN ORCHESTRATION ARCHITECT MANAGED BLOCK 50_content_region_message
{% if not file.get('metadata',{}).get('auto_generated', false) %}
# NOTE: Manual changes should occur in this region, below the managed block
{% endif %}
# END ORCHESTRATION ARCHITECT MANAGED BLOCK 50_content_region_message
